<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25731979006-90la42kkcndtjmopbit913vsp2f1953p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25731979006-90la42kkcndtjmopbit913vsp2f1953p</string>
	<key>API_KEY</key>
	<string>AIzaSyCagYqsOkF0a2aq0FW_oRynr6YfLr1eWg4</string>
	<key>GCM_SENDER_ID</key>
	<string>25731979006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a4ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a4ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25731979006:ios:3ef313da75be8330cbb7af</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a4ecd.firebaseio.com</string>
</dict>
</plist>